<% @song = Song.new %>
<%= form_tag({action: "create_song", method: "post", remote: true}, {multipart: true}) do |f| %>

  <div class="form-group field">
    <%= label_tag :title %><br>
    <%= text_field_tag :title, "", class:"form-control" %>
  </div>
  <div class="form-group field">
    <%= label_tag :artist %><br>
    <%= text_field_tag :artist, "", class:"form-control" %>
  </div>
  <div class="form-group field">
    <%= label_tag :album %><br>
    <%= text_field_tag :album, "", class:"form-control" %>
  </div>
  <div class="form-group field">
    <%= label_tag :year %><br>
    <%= number_field_tag :year,"" , class:"form-control" %>
  </div>
  <div class="form-group field">
    <%= label_tag :genre %><br>
    <%= text_field_tag :genre,"", class:"form-control" %>
  </div>
  <div class="form-group field">
    <%= label_tag :file %><br>
    <%= file_field_tag :file, class:"form-control" %><br>
  </div>
  <div class="form-group field">
    <%= label_tag :art %><br>
    <%= file_field_tag :art, class:"form-control" %><br>
  </div>
  <div class="actions">
    <%= submit_tag "Create Song", id: "btnSaveSong", class: "btn btn-default"%>
  </div>
<% end %>
