<p id="notice"><%= notice %></p>

<p>
  <strong>Sk song:</strong>
  <%= @transaction.sk_song %>
</p>

<p>
  <strong>Date:</strong>
  <%= @transaction.date %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @transaction.cost %>
</p>

<%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Back', transactions_path %>
